.tooltip {
  position: relative;
  display: inline-block;
  width: max-content;
}

.tooltip .tooltiptext {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  z-index: 1000000;
  text-align: center;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%) translateY(calc(100% - 4px));
  width: max-content;
  transition: opacity 250ms, transform 250ms;
  background-color: white;
  padding: var(--spacing-S8);
  border-radius: var(--radius-default);
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) translateY(100%);
}
